.productName {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.container {
  width: 100%;
  overflow-x: auto;
  height: 400px; 
  overflow-y: auto; 
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.tableHeader {
  font-size: 18px;
  font-weight: bold;
  padding: 12px;
  background-color: #f0f1f3;
}

.row:nth-child(even) {
  background-color: #f2f2f2;
}

.cell {
  padding: 12px;
}

.deleteButton {
  color: rgb(161, 157, 157);
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;

}

.deleteButton:hover {
  background-color: #ff9933;
}

.scrollbar {
  background-color: #bebdbd;
  color: #212121;
  padding: 12px;
  text-align: center;
  cursor: pointer;
  opacity: 0.5;
  top: 488px;

}

.scrollbar:hover {
  background-color: #d0d1d0;
}
