.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  width: 672px;
  height: 75%;
  max-width: 90%;
  max-height: 90%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-content {
  padding: 30px;
  text-align: justify;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.peso {
  width: 210px;
  height: 45px;
  border-radius: 50px;
  background-color: #fc842d;
  color: white;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 768px) {
  .modal {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .modal {
    width: 90%;
    max-width: none;
    border-radius: 0;
  }
}
