:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container{
  width: 1280px;
  margin: 0 auto;
  padding: 20px;
}

@media (width < 1280px){
  .container{
    width: 100%;
  }
} 

button{
  border: none;
}